/*
styles for main content
*/
.content {

    position: relative;
    width: 100%;

    section {
        position: absolute;

        &.left-bar {
            width: 212px;
            left: 10px;
        }

        &.main-content {
            left: 240px;
            right: 242px;
        }

        &.right-bar {
            
            width: 212px;
            right: 10px;
            
            
            .content-header {
                .title {
                    color: $light-grey;
                    font-size: 14px;
                    padding: 10px 0px;
                }

                a {
                    margin: 8px 0px;
                }
            }
            
        }
    }
}

.inner-block {

    border-bottom: 1px solid $border-color;
    padding-bottom: 15px;
    overflow: hidden;
    
}

.banner {
    img {
        width: 100%;
        height: auto;
    }
}

.content-header {

    margin: 15px 0px;

    .title {
        margin: 0;
        display: inline-block;
        
        &.small {
            color: $light-grey;
            font-size: 14px;
        }
    }
}

.media {
    
    .media-block {
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;
        
        .media-title {
            width: 100%;
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            float: left;
        }
        
        .media-img {
            width: 40%;
            float: left;
            margin-right: 8px;
            overflow: hidden;
            padding-bottom: 4px;
        }
        
        .media-name {
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        
        .media-info {
            font-size: 13px;
            color: $light-grey;
        }
    }
}

.categories {
    border: 1px solid $border-color;
    @include border-radius(5px);
    padding: 15px 0px;
    
    .categories-row {
        
        display: table;
        width: 100%;
        margin-bottom: 30px;
        
        &:not(:first-child), &:not(:last-child) {
               border-spacing: 15px 0px; 
        }
        
        .category {

            display: table-cell;
            width: 24%;
            
            .category-img {
                border: 1px solid $border-color;
                text-align: center;
                padding: 8px 10px 26px 10px;
                height: 180px;
                vertical-align: middle;
                
                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
            
            .category-title {
                padding: 15px 8px 0px 8px;
                text-align: center;
            }
            
            .category-link:hover {
                
                cursor: pointer;
                text-decoration: none;
                
                .category-img {
                    background-color: #f4f7fb;
                }
                
            }
        } 
        
    }
    
    
}