/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10.03.2016, 13:42:34
    Author     : alinka
*/

header {
    position: relative;
    display: inline-block;
    height: 68px;
    width: 100%;
    background-color: $green;
    border-bottom: 2px #71973c solid;
    padding: 12px 10px 16px 10px;
    
    .form {
        position: relative;
        display: inline-block;
        margin: 8px 15px;
        
        .form-control {
            border: none;
            color: #fff;
            height: 33px;
            padding-left: 30px;
            background: url(../images/search.png) no-repeat;
            background-position: 5px;
            background-color: #73993d;
            box-shadow: none;
            
            &:focus {
                box-shadow: none;
            }
            
            &::-webkit-input-placeholder {color:#fff;}
            &::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
            &:-moz-placeholder           {color:#fff;}/* Firefox 18- */
            &:-ms-input-placeholder      {color:#fff;}
        }
    }
}

.logo {
    display: inline-block;
    float: left;
    background: url(../images/logo.png) no-repeat;
    height: 40px;
    width: 130px;
    margin-right: 4%;
}


.user-info {

    position: absolute;
    display: inline-block;
    right: 10px;
    
    .info-block {
        display: inline-block;
        width: 27px;
        height: 27px;
        margin: 9px 11px;
        float: left;
        
        &.messages {
            background: url('../images/messages.png') no-repeat;
        }
        
        &.notifications {
            background: url('../images/notifications.png') no-repeat;
        }
    }

    .user-block {
        
        display: inline-block;
        margin-left: 15px;
        
        .user-photo {
            display: inline-block;
            float: left;

            img {
                width: 40px;
                height: 40px;
            }
        }

        .user-name {
            display: inline-block;
            padding: 10px 10px 10px 8px;
            white-space: nowrap;
            color: #fff;
        }
    }

}