body {
    margin: 0;
}

.wrapper-container, .app-container {
    display: block;
    min-width: 970px;
    max-width: 1440px;
    margin: auto;
}


.block-right {
    float: right;
}

a {
    color: $link-colors;
    font-size: 14px;

    &:hover {
        color: $green;
    }
}