
ul.left-menu {
    
    list-style: none;
    margin: 0;
    margin-left: 5px;
    padding: 0;
    
    li {
        border-bottom: 1px solid $border-color;
        padding: 15px 0px;
        
        .logo-menu {
            display: inline-block;
            float: left;
            width: 24px;
            height: 24px;
            
            &.feed {
                background: url(../images/feed.png) no-repeat;
            }
            &.ask {
                background: url(../images/ask.png) no-repeat;
            }
            &.company {
                background: url(../images/company.png) no-repeat;
            }
            &.service {
                background: url(../images/service.png) no-repeat;
            }
        }
        
        a {
            display: inline-block;
            color: $grey;
            font-size: 16px;
            padding: 0px 15px 0px 24px;
            
            &:hover {
                color: $green;
            }
        }
    }
}

