ul.left-menu {
  list-style: none;
  margin: 0;
  margin-left: 5px;
  padding: 0; }
  ul.left-menu li {
    border-bottom: 1px solid #eff0f2;
    padding: 15px 0px; }
    ul.left-menu li .logo-menu {
      display: inline-block;
      float: left;
      width: 24px;
      height: 24px; }
      ul.left-menu li .logo-menu.feed {
        background: url(../images/feed.png) no-repeat; }
      ul.left-menu li .logo-menu.ask {
        background: url(../images/ask.png) no-repeat; }
      ul.left-menu li .logo-menu.company {
        background: url(../images/company.png) no-repeat; }
      ul.left-menu li .logo-menu.service {
        background: url(../images/service.png) no-repeat; }
    ul.left-menu li a {
      display: inline-block;
      color: #59606b;
      font-size: 16px;
      padding: 0px 15px 0px 24px; }
      ul.left-menu li a:hover {
        color: #87b448; }

body {
  margin: 0; }

.wrapper-container, .app-container {
  display: block;
  min-width: 970px;
  max-width: 1440px;
  margin: auto; }

.block-right {
  float: right; }

a {
  color: #1c2534;
  font-size: 14px; }
  a:hover {
    color: #87b448; }

.btn {
  border: none;
  text-shadow: none;
  padding: 7px 22px;
  box-shadow: none;
  -webkit-box-shadow: none; }
  .btn.btn-success {
    background-color: #87b448; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10.03.2016, 13:42:34
    Author     : alinka
*/
header {
  position: relative;
  display: inline-block;
  height: 68px;
  width: 100%;
  background-color: #87b448;
  border-bottom: 2px #71973c solid;
  padding: 12px 10px 16px 10px; }
  header .form {
    position: relative;
    display: inline-block;
    margin: 8px 15px; }
    header .form .form-control {
      border: none;
      color: #fff;
      height: 33px;
      padding-left: 30px;
      background: url(../images/search.png) no-repeat;
      background-position: 5px;
      background-color: #73993d;
      box-shadow: none;
      /* Firefox 19+ */
      /* Firefox 18- */ }
      header .form .form-control:focus {
        box-shadow: none; }
      header .form .form-control::-webkit-input-placeholder {
        color: #fff; }
      header .form .form-control::-moz-placeholder {
        color: #fff; }
      header .form .form-control:-moz-placeholder {
        color: #fff; }
      header .form .form-control:-ms-input-placeholder {
        color: #fff; }

.logo {
  display: inline-block;
  float: left;
  background: url(../images/logo.png) no-repeat;
  height: 40px;
  width: 130px;
  margin-right: 4%; }

.user-info {
  position: absolute;
  display: inline-block;
  right: 10px; }
  .user-info .info-block {
    display: inline-block;
    width: 27px;
    height: 27px;
    margin: 9px 11px;
    float: left; }
    .user-info .info-block.messages {
      background: url("../images/messages.png") no-repeat; }
    .user-info .info-block.notifications {
      background: url("../images/notifications.png") no-repeat; }
  .user-info .user-block {
    display: inline-block;
    margin-left: 15px; }
    .user-info .user-block .user-photo {
      display: inline-block;
      float: left; }
      .user-info .user-block .user-photo img {
        width: 40px;
        height: 40px; }
    .user-info .user-block .user-name {
      display: inline-block;
      padding: 10px 10px 10px 8px;
      white-space: nowrap;
      color: #fff; }

/*
styles for main content
*/
.content {
  position: relative;
  width: 100%; }
  .content section {
    position: absolute; }
    .content section.left-bar {
      width: 212px;
      left: 10px; }
    .content section.main-content {
      left: 240px;
      right: 242px; }
    .content section.right-bar {
      width: 212px;
      right: 10px; }
      .content section.right-bar .content-header .title {
        color: #7c8695;
        font-size: 14px;
        padding: 10px 0px; }
      .content section.right-bar .content-header a {
        margin: 8px 0px; }

.inner-block {
  border-bottom: 1px solid #eff0f2;
  padding-bottom: 15px;
  overflow: hidden; }

.banner img {
  width: 100%;
  height: auto; }

.content-header {
  margin: 15px 0px; }
  .content-header .title {
    margin: 0;
    display: inline-block; }
    .content-header .title.small {
      color: #7c8695;
      font-size: 14px; }

.media .media-block {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px; }
  .media .media-block .media-title {
    width: 100%;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left; }
  .media .media-block .media-img {
    width: 40%;
    float: left;
    margin-right: 8px;
    overflow: hidden;
    padding-bottom: 4px; }
  .media .media-block .media-name {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .media .media-block .media-info {
    font-size: 13px;
    color: #7c8695; }

.categories {
  border: 1px solid #eff0f2;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 15px 0px; }
  .categories .categories-row {
    display: table;
    width: 100%;
    margin-bottom: 30px; }
    .categories .categories-row:not(:first-child), .categories .categories-row:not(:last-child) {
      border-spacing: 15px 0px; }
    .categories .categories-row .category {
      display: table-cell;
      width: 24%; }
      .categories .categories-row .category .category-img {
        border: 1px solid #eff0f2;
        text-align: center;
        padding: 8px 10px 26px 10px;
        height: 180px;
        vertical-align: middle; }
        .categories .categories-row .category .category-img img {
          max-width: 100%;
          max-height: 100%; }
      .categories .categories-row .category .category-title {
        padding: 15px 8px 0px 8px;
        text-align: center; }
      .categories .categories-row .category .category-link:hover {
        cursor: pointer;
        text-decoration: none; }
        .categories .categories-row .category .category-link:hover .category-img {
          background-color: #f4f7fb; }

/*# sourceMappingURL=styles.css.map */
